{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<h1>Debriefing</h1>
<br />
<p>This experiment was concerned with the use of diagrams in abstract reasoning. 

Euler diagrams is a diagrammatic system that has been used for centuries to solve syllogisms. The version taught in this tutorial was developed by 

Keith Stenning and Jon Oberlander at University of Edinburgh. It has the benefit of always resulting in a unique, final diagram.

You were assigned to one of two conditions: 

either your tutorial diagrams were "static", without any metaphorical descriptions suggesting motion, 
or they were "mechanistic" such that the diagram combination was presented as something that could be mentally simulated as a physical mechanism.

The experiment investigated whether mechanistic diagrams, by virtue of their concreteness and continuity, improve performance in syllogistic reasoning. 

This is an exciting empirical question, because while a large body of evidence suggests that we draw upon our experiences with the physical environment to think abstractly, 

there is also evidence that suggests that the mental representations involved in abstract thought do not resemble simulations of naturalistic object manipulation activities at all.

</p>

<p>The data will also be analysed to see common patterns of error. The literature on syllogistic reasoning suggests some forms are more error-prone than others, which can 
inform us about the mental computations taking place.</p>

<p><b>To make sure that other participants are naîve to this hypothesis, please do not tell others about the procedure, as this would threaten the validity of the experiment. </b></p>

<p><b>Thank you for your participation.</b></p>
<p> For further information, or if you wish to withdraw your data, contact Lovisa Sundin at 2092502s@student.gla.ac.uk</p>

<br />

{% endblock %}