{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<h1>Debriefing</h1>
<br />
<p>This experiment was concerned with the use of diagrams in abstract reasoning. You were randomly assigned to one of two conditions: 

either your diagrams were "schematic" ***, or they were "mechanistic" such that the Euler solution could be mentally simulated as a physical mechanism.

The experiment investigated whether mechanistic diagrams, by virtue of their concreteness, improve performance in syllogistic reasoning. </p>

<p>To make sure that other participants are naîve to this hypothesis, please do not tell others about the procedure, as this would threaten the validity of the experiment. </p>

<p>For further information, contact Lovisa Sundin at 2092502s@student.gla.ac.uk</p>

<br />

{% endblock %}