{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<h1>Syllogism Tutorial</h1>
<h2>Please take the time necessary to understand the content of this short tutorial on solving categorical syllogisms.</h2>
<br />

{% if not submitted %}

<div >
<h3>What it means for an argument to valid</h3>
<p> When we reason, we operate on statements about the world, such as "It is raining outside".
A statement about the world can be thought of as a variable whose value is either 
"true" or "false". Its value could be determined by observation, without abstract reasoning 
(look outside of the window: <i>is</i> it raining?). If so, the statement is known as a <b>premise</b>.</p>


<p>Alternatively, the value of a statement can be <i>deduced</i> from such premise. In that case, the statement is referred to as
a <b>conclusion</b>. Premise-statements and conclusion-statements therefore play
different roles in an argument. Premises provide the input; the conclusion the output. </p>

<p> For an argument to be useful, it needs to be <b>valid</b>. This has a precise meaning: 
in a valid argument, it is impossible for the
premises to be true at the same time as the conclusion is false. The truth of the
premises <i>implies</i> that the conclusion is true.</p>
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/premises.png" %}" alt="Premises" /></div>

</div>
<div>

<h3>Categorical statements</h3>
<p>A <b>categorical</b> statement is one that relates two categories, by asserting that
either all or part of the first class is included or excluded from the other. 
For categories A and B, this means that there are four different types of statement:</p>
<p>
<ul>
	<li><b>All A are B:</b>Category A is wholly included in Category B </li>
	<li><b>Some A are B:</b>There exists at least one element in A that is included in B</li>
	<li><b>No A are B:</b>Category A is wholly excluded from Category B</li>
	<li><b>Some A are not B:</b>There exists at least one element in A that is excluded from B</li>
</ul>
These four different types ("All", "Some", "No" and "Some-not") can be visualised through "Euler diagrams":</p>
</div>

<div>
<div style="float:left;border: 1px solid black;padding-top: 10px;"><img src="{% static "images/AllAareBeuler.png" %}" alt="AllAareBeuler" /></div>
<div style="float:left;border: 1px solid black;padding-top: 10px;"><img src="{% static "images/SomeAareBeuler.png" %}" alt="SomeAareBeuler" /></div>
<div style="float:left;border: 1px solid black;padding-top: 10px;"><img src="{% static "images/NoAareBeuler.png" %}" alt="NoAareBeuler" /></div>
<div style="float:left;border: 1px solid black;padding-top: 10px;"><img src="{% static "images/SomeAarenotBeuler.png" %}" alt="SomeAarenotBeuler" /></div>
</div>


<br /><br /><br /><br /><br /><br /><br /><br />
<p>In an Euler diagram, overlap denotes class inclusion and a cross means "There must exist an individual in this area for the statement to be true". For example, 
the "Some A are B" statement denotes that there is at least one element inside A that is also in B</p>
<div>
<h3>Categorical syllogisms</h3>
<p>
A <b>categorical syllogism</b> is an argument that has two premises and one conclusion. They are also limited to
three different categories, which we may call A, B and C. The first premise is concerned with A and B, the second
with B and C, and the conclusion is concerned with A and C.</p>

For example:
<p>All A are B</p>
<p>No C are B</p>
<p>-------------</p>
<p>Therefore, no C are A</p>
</div>
<p>For a syllogism to be in standard form...</p>
<div><img src="{% static "images/standard_form.png" %}" alt="Standard Form" /></div>

{% ifequal condition "1" %}
<h1>CONDITION 1</h1>
<p> Euler diagrams can be used to determine which conclusions are valid from two premises.</p>
<ol>
<li>Depict each premise as an Euler diagram</li>
<li> ***** combine </li>
<li> Read off conclusion </li>
</ol>
{% else %}
<h1>CONDITION 2</h1>
<p> Euler diagrams can be used to determine which conclusions are valid from two premises.</p>
<ol>
<li>Depict each premise as an Euler diagram</li>
<li> ***** combine </li>
<li> Read off conclusion </li>
</ol>

{% endifequal %}

<h2>Your Task</h2>
<p>You will now be given a set of syllogistic problems.
Given the two premises, you are asked to select which of the conclusions is valid.</p>


<p>Please answer as quickly and accurately as possible.</p>
</div>
<!-- --------------------------END TUTORIAL----------------------- -->


<div>
	<form id="start_form" method="post" action="/maxi/tutorial/{{id}}/">
	
	{% csrf_token %}
	{{ form1.as_p }}
	{{ form2.as_p }}
	
	<input type="submit" name="submit" id="submit" value="Submit consent" />
	</form>
	</div>
	
{% else %}

<a href="/maxi/experiment/{{id}}/1/"> Click to start the experiment</a>
<br />

{% endif %}
{% endblock %}
