{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}


{% if not submitted %}

<div style="width:1000px;">
<h1>Syllogism Tutorial</h1>
<h2>Please take the time necessary to understand the content of this short tutorial on solving categorical syllogisms.</h2>
<br />
<div style="font-size:150%;">

<p> A <b>"categorical syllogism"</b> is a type of argument that consists of three statements: two premises and one conclusion.</p>

<p> Each statement relates two categories, by asserting that
either all or part of the first class is included or excluded from the other. <br />
 For categories A and B, this means that there are four different types of statement:</p>
<br />
<ul>
	<li><b>All A are B:</b>There exists at least one element in A, and A is wholly included in  B </li>
	<br />
	<li><b>Some A are B:</b>There exists at least one element in A that is included in B</li>
	<br />
	<li><b>No A are B:</b>There exists at least one element in A and one in B, and A is wholly excluded from B</li>
	<br />
	<li><b>Some A are not B:</b>There exists at least one element in A that is excluded from B</li>
</ul>
<br />
<p> These four different types ("All", "Some", "No" and "Some-not") can be visualised through "Euler diagrams":</p>

<br />
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/premisediagram.png" %}" alt="argument" /></div>
<br />

<p>In an Euler diagram, overlap means class inclusion and a cross means "There must exist an individual in this area for the statement to be true". 
For example, the "Some A are B" statement means that there exists at least one element inside A that is also in B, without there necessarily existing 
an individual in the other, non-overlapping regions.</p>

<p>In a syllogism, the first premise states something about two categories, which we may call A and B. The second premise states something about B and C,
and the conclusion states something about A and C. Thus, the category labeled B occurs in both premises but not in the conclusion. For example: </p>

<p><b>All A are B</b></p>
<p><b>No C are B</b></p>
<p><b>-------------</b></p>
<p><b>Therefore, no C are A</b></p>

{% ifequal condition "1" %}

<p> Euler diagrams can be used to determine which conclusions are valid from two premises. They can be thought of as 
metallic hoops in which the "necessary individual" dot is a pin.</p>
<ol>
<li>Lay out hoops and pins to represent the premises.</li>
<li>Resize one of the premises and move it so that the B-hoops align (they refer, after all, to the same term).</li>
<li>Constrained by the pin, test all possible arrangements that are consistent with the premises and identify the one
that creates as many subregions as possible (each region corresponds to a type of individual, and we don't want to forget any of them.</li>
<li>If a hoop that is immediately surrounding a pin gets subdivided, remove that pin.</li>
</ol>

<p>After this has been done, we can read off the diagram, to see which relationships hold for A and C, i.e. which conclusions are valid.
Dots that remain represent individuals that have been specified with regard to all three categories, so if there are no dots 
remaining, we cannot conclude anything.</p>

<p>Below follow three examples of how to use Euler diagrams:</p>

<br />
<p>Premises: <b>"All A are B"</b> and <b>"Some C are not B"</b></p>
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/mechanistic_example1.png" %}" alt="argument" /></div>
<p>Conclusion: "Some C are not A" </p>
<br />
<br />
<p>Premises: <b>"All B are A"</b> and <b>"All B are C"</b></p>
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/mechanistic_example2.png" %}" alt="argument" /></div>
<p>Conclusion: "Some A are C" </p>
<br />
<br />
<p>Premises: <b>"Some A are B</b> and <b>"Some C are B"</b></p>
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/mechanistic_example3.png" %}" alt="argument" /></div>
<p>Conclusion: "No valid conclusion" </p>
<br />

{% else %}
<p> Euler diagrams can be used to determine which conclusions are valid from two premises. </p>
<ol>
<li>Make diagrams to represent the two premises.</li>
<li>Make the B-rings correspond (they refer, after all, to the same term).</li>
<li>Of all arrangements consistent with the initial diagrams, choose the one that creates the most subregions.</li>
<li>If a minimal region with a dot (i.e. one closest to the dot) gets subdivided as a result, remove it.</li>
</ol>

<p>After this has been done, we can read off the diagram to see which relationships hold for A and C, i.e. which conclusions are valid.
Dots that remain represent individuals that have been specified with regard to all three categories, so if there are no dots 
remaining, we cannot conclude anything.</p>

<p>Below follow three examples of how to use Euler diagrams:</p>

<br />
<p>Premises: <b>"All A are B"</b> and <b>"Some C are not B"</b></p>
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/static_example1.png" %}" alt="argument" /></div>
<p>Conclusion: <b>"Some C are not A"</b> </p>
<br />
<br />
<p>Premises: <b>"All B are A"</b> and <b>"All B are C"</b></p>
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/static_example2.png" %}" alt="argument" /></div>
<p>Conclusion: <b>"Some A are C"</b> and <b>"Some C are A"</b> </p>
<br />
<br />
<p>Premises: <b>"Some A are B</b> and <b>"Some C are B"</b></p>
<div style="display:block;margin-left:auto;margin-right:auto;"><img src="{% static "images/static_example3.png" %}" alt="argument" /></div>
<p>Conclusion: <b>"No valid conclusion"</b> </p>
<br />


{% endifequal %}

<h2>Your Task</h2>
<p>You will now be given a set of syllogistic problems.
Given the two premises, you are asked to select which conclusions is valid, or if no valid conclusion exists.</p>

<p>Once you start the experiment, you will not be able to revisit the tutorial.</p>

<p>Please answer as quickly and accurately as possible.</p>
</div>
</div>
</div>
<!-- --------------------------END TUTORIAL----------------------- -->


<div>
	<form id="start_form" method="post" action="/maxi/tutorial/{{id}}/">
	
	{% csrf_token %}
	{{ form1.as_p }}
	{{ form2.as_p }}
	
	<input type="submit" name="submit" id="submit" value="Submit consent" />
	</form>
	</div>
	
{% else %}

<a href="/maxi/experiment/{{id}}/1/"> Click to start the experiment</a>
<br />

{% endif %}
{% endblock %}
