/*
	FOR EVERYTHING
*/

a { /* Comment */ color: /* Comment */ Red; }

body {
	background-color: White;
	padding-left: 4cm;
	padding-right: 4cm;
	padding-top: 2cm;
	padding-bottom: 2cm;
}

h1, h2, h3 {
	font-family: "Georgia", Sans-serif, serif;
}

p {
	font-family: "Georgia", Sans-serif, serif;
	font-size: 110%;
}

#submit {
	font-size:20px;
	background-color: white;
	color:black;
	border: 2px solid black;
	font-family: "Georgia", Sans-serif, serif;
}

#consent_form, #intro_form, #test_form, #end_form, #start_form {
	font-size:20px;	
	font-family: "Georgia", Sans-serif, serif;	
}